streamlit
neo4j
pandas
numpy
python-dotenv
requests
tqdm
types-tqdm
groq
selenium
undetected-chromedriver
ddgs
llama-index-embeddings-huggingface
sentence-transformers

llama-index
llama-index-graph-stores-neo4j
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-llms-groq

typing-extensions
pathlib

hf-xet
huggingface-hub