streamlit
pandas
python-dotenv
requests
tqdm
ddgs

sentence-transformers
huggingface-hub
datasets
Pillow
pydantic
bcrypt
typing-extensions

llama-index
llama-index-graph-stores-neo4j
llama-index-vector-stores-neo4jvector
llama-index-embeddings-huggingface
llama-index-llms-groq
